<div class="card">
  <div class="card-content menu has-text-centered" *ngIf="isGameSelected">
    <h1> Reviews:</h1>
    <ul class="menu-list">
      <li *ngFor="let review of filteredReviews">
        {{ review.content }}
        <div class="field">
        <label class="label">Your Rating:</label>
        <span class="star-rating">
                <i class="fa-solid fa-star" [ngClass]="{'active': review.rating >= 1}" ></i>
                <i class="fa-solid fa-star" [ngClass]="{'active': review.rating >= 2}" ></i>
                <i class="fa-solid fa-star" [ngClass]="{'active': review.rating >= 3}" ></i>
                <i class="fa-solid fa-star" [ngClass]="{'active': review.rating >= 4}" ></i>
                <i class="fa-solid fa-star" [ngClass]="{'active': review.rating == 5}" ></i>
              </span>
      </div>
        <div class="media-right">
          <a (click)="deleteReview(review)">Delete</a>
        </div>
      </li>
    </ul>
    <button class="button is-center is-rounded" (click)="backToGames()"> Back To Games</button>
  </div>

  <div *ngIf="!isGameSelected" class="card-content has-text-centered menu">
    <h1>Games:</h1>
    <ul class="menu-list">
      <li *ngFor="let game of games">
        <div>
          <!-- display the comment content -->


          <div class="row ">
            <span class="col">
              <a (click)="selectGame(game)">{{ game.title }} </a>
            </span>

          </div>
        </div>


      </li>
    </ul>
  </div>

</div>




