<section class="section">
  <div>
    <div class="columns is-centered">
      <div class="column is-half">
        <form (ngSubmit)="onSubmit()" class="box">
          <div class="field">
            <label class="label">Username:</label>
            <div class="control">
              <input class="input" type="text" [(ngModel)]="registerRequest.username" name="username" placeholder="Username" (ngModelChange)="checkUsername()">
            </div>
            <div *ngIf="!isValidUsername && registerRequest.username" >
              <small class="errormsg">Username can only have numbers, letters and "-"</small>
            </div>
          </div>
          <div class="field">
            <label class="label">Email:</label>
            <div class="control">
              <input class="input" type="email" [(ngModel)]="registerRequest.email" name="email" placeholder="Email" (ngModelChange)="checkEmail()">
            </div>
            <div *ngIf="!isValidEmail && registerRequest.email" >
              <small class="errormsg">Please enter a valid e-mail</small>
            </div>
          </div>
          <div class="field">
            <label class="label">Password:</label>
            <div class="control">
              <input class="input" type="password" [(ngModel)]="registerRequest.password" name="password" placeholder="Password">
            </div>
            <div *ngIf="registerRequest.password">
            <div *ngIf="!pwIsLengthValid()" >
              <small class="errormsg">Your password needs a length of 5</small>
            </div>
            <div *ngIf="!pwHasNumber()" >
              <small class="errormsg">Your password needs a number</small>
            </div>
            <div *ngIf="!pwHasUppercase()" >
              <small class="errormsg">Your password needs an uppercase letter</small>
            </div>
            </div>
          </div>
<!--          <div class="field">-->
<!--            <label class="label">Confirm password:</label>-->
<!--            <div class="control">-->
<!--              <input class="input" type="password" [(ngModel)]="confirmPassword" name="password2" placeholder="Password2"  (ngModelChange)="checkPassword()">-->
<!--            </div>-->
<!--          </div>-->

          <div class="field is-grouped" >
            <div class="control" >
              <button class="button is-primary" type="submit" [disabled]="!isValidUsername || !isValidEmail || !pwIsValid()">Register</button>
            </div>
          </div>
        </form>
        <div class="has-text-centered">
          <span style="color:white">Already a member?   </span> <a (click)="showLogin.emit();resetInputFields()">  Login  </a>
        </div>
      </div>
    </div>
  </div>
<!--<div *ngIf="!isValidPassword ||  !isValidUsername || !isValidEmail || !isConfirmPasswordValid">-->
<!--  <div class="columns is-centered">-->
<!--    <div class="column is-half">-->

<!--       <div  class="notification is-danger">-->
<!--         <div *ngIf="!isValidUsername" >-->
<!--           Username should only have Numbers, letters and "-".-->
<!--         </div>-->
<!--         <div *ngIf="isEmptyUsername" >-->
<!--           Please enter a valid Username.-->
<!--         </div>-->
<!--         <div *ngIf="isEmailEmpty" >-->
<!--           Please enter a valid email address.-->
<!--         </div>-->
<!--         <div *ngIf="!isValidEmail" >-->
<!--          Remember your email must contain @ and a domain.-->
<!--         </div>-->
<!--         <div *ngIf="!isValidPassword">-->
<!--           Please enter a valid password.-->
<!--         </div>-->
<!--         <div *ngIf="isEmptyPassword">-->
<!--           You forgot to write down your password.-->
<!--         </div>-->
<!--         <div *ngIf="!isConfirmPasswordValid ">-->
<!--           Passwords do not match 😿-->
<!--         </div>-->

<!--       </div>-->


<!--    </div>-->
<!--  </div>-->

<!--</div>-->



</section>
