@import './flip-animation.css';
@import 'ngx-toastr/toastr';
@import 'bulma/css/bulma.css';

.card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5rem;
}
.card img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  width: 100%;
}


.button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button {
  white-space: normal;
  text-align: left;
  word-break: break-word;
}

:host {
  display: inline-flex;
}

.star-rating .fa-star.active,
.yellow {
  background: linear-gradient(to right, #f6d365, #fda085);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card a {
  color: inherit;
  text-decoration: none;
}

.card a:hover {

}

.rise {
  transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.is-duration-300 {
  transition-duration: 0.3s;
}

.hover-translate-y:hover {
  transform: translateX(0) translateY(-0.45rem) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1) ;
}

.hover-shadow-xl:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.09) ;
}

.liactive {
  border-left: 3px solid #333;
  background-color: whitesmoke;
}

html {
  background-color: #EDEDE9;

}

body {
  font-family: 'Georgia';
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato';
}

.navbar {
  background-color: transparent;
  height: 80px;
}


.button.is-primary:active, .button.is-primary.is-active {
  background-color: #b28893;
  border-color: transparent;
  color: #fff;
}

.button.is-info:hover, .button.is-info.is-hovered {
  background-color: #b28893;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
.button.is-info{
  background-color: #46363A;
  border-color: transparent;
  color: whitesmoke;
}

.tag:not(body).is-link{
  background-color: #46363A;
  color: #fff;
}

.menu-list a {
  color: #0F1D38;

  font-weight: 200;
}
.menu-list p {
  color: #0F1D38;
  font-weight: 200;
}

.navbar-item,
.navbar-link {
  color: #181818;

}

.button.is-primary {
  background-color: #46363A;
  border-color: transparent;
  color: #fff;
}

.button.is-primary:hover, .button.is-primary.is-hovered {
  background-color: #6a5258;
  border-color: transparent;
  color: #fff;
}

.button.is-primary:active, .button.is-primary.is-active {
  background-color: #6a5258;
  border-color: transparent;
  color: #fff;
}

.button.is-primary.is-outlined {
  background-color: transparent;
  border-color: #46363A;
  color: #46363A;
}

.button.is-primary:focus:not(:active), .button.is-primary.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(86, 66, 70, 0.22);
}

.button.is-primary[disabled],
fieldset[disabled] .button.is-primary {
  background-color: #7e6067;
  border-color: #7e6067;
  box-shadow: none;
}

.blur-background {
  filter: blur(5px);
}

.modal.is-active {
  display: flex;
  align-items: center;
}

.custom-modal-content {
  width: 60%;
  max-width: 40vw;
  min-width: 40vw;
}
.custom-modal-content-mobile {
  width: 100%;
  max-width: 90vw;
  min-width: 90vw;
}

.modal-content {
  max-height: 80vw;
}

