<div class="columns">
  <div class="column is-one-fifth has-background-black">
    <div >asldjalisfjlasjdlajksdlkasjflkasjdflkasjdlk</div>
  </div>
  <div class="column is-three-fifths has-background-danger">
    <div>asldjalisfjlasjdlajksdlkasjflkasjdflkasjdllllllllk</div>
    <div >asldjalisfjlasjdlajksdlkasjflkasjdflkasjdllllllllk</div>
    <div >asldjalisfjlasjdlajksdlkasjflkasjdflkasjdllllllllk</div>
    <div >asldjalisfjlasjdlajksdlkasjflkasjdflkasjdllllllllk</div>
    <div >asldjalisfjlasjdlajksdlkasjflkasjdflkasjdllllllllk</div>
    <div >asldjalisfjlasjdlajksdlkasjflkasjdflkasjdllllllllk</div>
    <div >asldjalisfjlasjdlajksdlkasjflkasjdflkasjdllllllllk</div>
    <div >asldjalisfjlasjdlajksdlkasjflkasjdflkasjdllllllllk</div>
    <div >asldjalisfjlasjdlajksdlkasjflkasjdflkasjdllllllllk</div>
    <div >asldjalisfjlasjdlajksdlkasjflkasjdflkasjdllllllllk</div>
    <div >asldjalisfjlasjdlajksdlkasjflkasjdflkasjdllllllllk</div>
    <div >asldjalisfjlasjdlajksdlkasjflkasjdflkasjdllllllllk</div>
    <div >asldjalisfjlasjdlajksdlkasjflkasjdflkasjdllllllllk</div>
    <div >asldjalisfjlasjdlajksdlkasjflkasjdflkasjdllllllllk</div>
    <div >asldjalisfjlasjdlajksdlkasjflkasjdflkasjdllllllllk</div>
    <div >asldjalisfjlasjdlajksdlkasjflkasjdflkasjdllllllllk</div>
    <div >asldjalisfjlasjdlajksdlkasjflkasjdflkasjdllllllllk</div>
    <div >asldjalisfjlasjdlajksdlkasjflkasjdflkasjdllllllllk</div>
    <div >asldjalisfjlasjdlajksdlkasjflkasjdflkasjdllllllllk</div>
    <div >asldjalisfjlasjdlajksdlkasjflkasjdflkasjdllllllllk</div>
    <div >asldjalisfjlasjdlajksdlkasjflkasjdflkasjdllllllllk</div>
    <div >asldjalisfjlasjdlajksdlkasjflkasjdflkasjdllllllllk</div>
    <div >asldjalisfjlasjdlajksdlkasjflkasjdflkasjdllllllllk</div>
    <div>asldjalisfjlasjdlajksdlkasjflkasjdflkasjdllllllllk</div>

  </div>
  <div class="column is-one-fifth has-background-dark">
    <div >asldjalisfjlasjdlajksdlkasjflkasjdflkasjdlk</div>

  </div>
</div>
