<section class="section" >
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="box">
          <div class="field">
            <label class="label">Username:</label>
            <div class="control">
              <input class="input" type="text" [formControlName]="'username'" placeholder="Username">
            </div>
          </div>
          <div class="field">
            <label class="label">Password:</label>
            <div class="control input-wrapper">
              <input #passwordInput class="input" type="password" [formControlName]="'password'" placeholder="Password">
              <span class="icon is-small input-icon" (click)="togglePasswordVisibility(passwordInput)">
      <i class="fas" [ngClass]="{'fa-eye-slash': passwordInput.type === 'password', 'fa-eye': passwordInput.type === 'text'}"></i>
    </span>
            </div>
          </div>


          <div class="field is-grouped">
            <div class="control">
              <button class="button is-primary" type="submit" [disabled]="loginForm.invalid">Login</button>
            </div>
          </div>
        </form>
        <div class="has-text-centered">
          <span style="color:white">Not a member? </span> <a (click)="showRegister.emit();this.resetInput()">Register</a>
        </div>
      </div>
    </div>
  </div>
</section>
