<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="box">
          <div class="field">
            <label class="label">Username:</label>
            <div class="control">
              <input class="input" type="text" [formControlName]="'username'" placeholder="Username">
            </div>
          </div>
          <div class="field">
            <label class="label">Password:</label>
            <div class="control">
              <input class="input" type="password" [formControlName]="'password'" placeholder="Password">
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button class="button is-primary" type="submit" [disabled]="loginForm.invalid">Login</button>
            </div>
          </div>
        </form>
        <div class="has-text-centered">
          <span style="color:white">Not a member?</span> <a (click)="showRegister.emit()">  Register</a>
        </div>
      </div>
    </div>
  </div>
</section>
