
  <div class="columns">
    <div class="column is-one-fifth"></div>
    <div class="column is-three-fifth">
      <div class="columns is-multiline">

        <div class="column is-half">
          <div class="profile-card card-equal-height text-center">
            <img class="img-responsive"
                 src="https://e0.pxfuel.com/wallpapers/343/772/desktop-wallpaper-dragon-ball-z-namek-background-gallery-dragon-ball-scenery.jpg">
            <div class="profile-info">

              <img class="profile-pic"
                   src="https://i.pinimg.com/280x280_RS/59/18/a5/5918a55bfd8849e214e1b501ae374080.jpg">
              <br>
              <h2 class="hvr-underline-from-center">Sebastian<span>Lead Developer / Swiss Knife</span></h2>
              <div>Ich entwickle qualitativ hochwertige Webanwendungen und arbeite eng mit meinem Team zusammen, um die
                Anforderungen unserer Kunden zu erfüllen. Meine Fähigkeit, verschiedene Rollen innerhalb meines Teams zu
                übernehmen, ermöglicht es mir, unsere Projekte erfolgreich umzusetzen. Meine Expertise umfasst
                Programmiersprachen wie Java, JavaScript sowie Frameworks wie AngularJS und Spring.
                <br><br><br></div>
              <a href=""><i class="fa fa-twitter fa-2x"></i></a>
              <a href=""><i class="fa fa-envelope-o fa-2x"></i></a>
              <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
            </div>
          </div>
        </div>

        <div class="column is-half">
          <div class="profile-card card-equal-height text-center">

            <img class="img-responsive"
                 src="https://wallpaperaccess.com/full/4869829.jpg">
            <div class="profile-info">

              <img class="profile-pic"
                   src="https://p4.wallpaperbetter.com/wallpaper/757/579/679/dragon-ball-super-dbs-dragon-ball-vegito-wallpaper-preview.jpg">
              <br>
              <h2 class="hvr-underline-from-center">Tamayo<span>Security Expert / Meme Master</span></h2>
              <div>Ich bin darauf spezialisiert, Unternehmen und Organisationen dabei zu helfen, ihre digitalen Systeme
                und
                Daten vor Bedrohungen zu schützen. In meiner Freizeit liebe ich es, Memes zu erstellen und zu teilen.
                Meine
                Leidenschaft für Humor und Technologie machen mich zu einer einzigartigen Kombination aus Fachwissen und
                Kreativität.
                <br>
                <br><br> <br>
              </div>
              <a href=""><i class="fa fa-twitter fa-2x"></i></a>
              <a href=""><i class="fa fa-envelope-o fa-2x"></i></a>
              <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="columns is-multiline">

        <div class="column is-half">
          <div class="profile-card card-equal-height text-center">

            <img class="img-responsive"
                 src="https://www.lonelyplanet.de/fileadmin/media/lp/Magazin/Reportagen/Goldmann_Artikel/500-Naturerlebnisse/4_Masuren_-POLEN-_c_DuMont-Bildarchiv_-Peter-Hirth.jpg">
            <div class="profile-info">

              <img class="profile-pic is-1by1"
                   src="https://image.jimcdn.com/app/cms/image/transf/none/path/s0d8092a3128dec2e/image/i3c145fa7fb780414/version/1489051854/image.png">
              <br>
              <h2 class="hvr-underline-from-center">Bacdasch<span>Fullstack Developer / Creative Mind</span></h2>
              <div>Ich liebe es, Websites und Anwendungen zu entwickeln, die sowohl funktional als auch ästhetisch
                ansprechend
                sind. Meine kreative Denkweise und mein Auge für Design helfen mir dabei, einzigartige und innovative
                Lösungen
                zu entwickeln. Ich bin immer auf der Suche nach neuen Herausforderungen und freue mich darauf, mit
                Ihnen
                zusammenzuarbeiten, um Ihre digitale Vision zum Leben zu erwecken.
                <br><br><br></div>
              <a href=""><i class="fa fa-twitter fa-2x"></i></a>
              <a href=""><i class="fa fa-envelope-o fa-2x"></i></a>
              <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
            </div>
          </div>
        </div>

          <div class="column is-half">
            <div class="profile-card card-equal-height text-center">
              <img class="img-responsive"
                   src="https://p.turbosquid.com/ts-thumb/cF/SIrgKk/SL/kame1/jpg/1615978833/600x600/fit_q87/0795ddb751c8b5ed96f785914a62f6442668f757/kame1.jpg">
              <div class="profile-info">

                <img class="profile-pic is-square"
                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7aPyKtvjFv7qyejRQcEvaSu0zS4XjXljC2Q&usqp=CAU">
                <br>
                <h2 class="hvr-underline-from-center">Christian<span>Fullstack Developer / Navbar Specialist</span>
                </h2>
                <div>Ich habe mich darauf spezialisiert, benutzerfreundliche Navigationssysteme zu entwickeln, die es
                  den
                  Nutzern ermöglichen, schnell und einfach auf die gewünschten Inhalte zuzugreifen. Als Fullstack
                  Developer
                  arbeite ich eng mit meinen Kunden zusammen, um ihre Anforderungen zu verstehen und maßgeschneiderte
                  Lösungen
                  zu entwickeln.
                  <br><br><br><br>
                </div>
                <a href=""><i class="fa fa-twitter fa-2x"></i></a>
                <a href=""><i class="fa fa-envelope-o fa-2x"></i></a>
                <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
              </div>
            </div>
          </div>


      </div>
      <div class="columns">
        <div class="column is-one-fifth"></div>
        <div class="column is-three-fifths">

          <div class="hero">
            <div class="box">
              Willkommen bei Codeforge - wo unsere Tastaturen rauchen und unser Kaffee immer heiß ist! Wir sind das
              Dream-Team
              der Programmierung und machen aus Nullen und Einsen Kunstwerke. Unsere Superkräfte? Unser Teamgeist,
              unsere
              Kreativität und unsere unerschütterliche Entschlossenheit, jedes Problem zu lösen. Wir sind der Hammer
              unter den
              Tech-Teams und machen Ihr Projekt zum absoluten Kracher!
            </div>
          </div>
        </div>
        <div class="column is-one-fifth"></div>
      </div>

    </div>
    <div class="column is-one-fifth"></div>
  </div>





