<div class="columns">
  <div class="column is-one-fifth"></div>
  <div class="column is-three-fifths" *ngIf="game">
    <div class="box">
      <div class="title has-text-centered mb-0">{{ game.title }}</div>
      <div class="title has-text-centered m-1"><span *ngFor="let star of stars; let i = index" [title]="i + 1 + ' star'">
  <i class="fa {{ star }} yellow" aria-hidden="true"></i>
</span></div>

      <div class="has-text-centered" *ngIf="game.image">
        <img [src]="'data:image/png;base64,' + game.image" alt="gameimage">
      </div>

      <div class="level">
        <div class="level-left">
          <div class="level-item is-size-7 is-italic">Author:&nbsp;
            <span>{{ game.author}}</span>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item is-size-7 is-italic">Released:&nbsp;
            <span>{{ game.createdAt | date:'HH:mm dd.MM.yy' }}</span>
          </div>
        </div>
      </div>
      <article class="message is-dark">
        <div class="message-body" style="white-space: pre-line">{{ game.content }}</div>
      </article>
      <div class="level">
        <div class="level-left">
          <div class="level-item" *ngFor="let category of game.categories">
            <button class="button tag is-link">{{ category.name }}</button>
          </div>
        </div>
        <div class="level-item">
          <a [routerLink]='"/game/play/"+ game.id+"/"+game.title'>
            <button class="button is-size-4 is-align-items-baseline"><i class="fa-solid fa-play"></i>&nbsp;&nbsp;Play
            </button>
          </a>
        </div>
      </div>
    </div>
    <hr>


    <div class="tabs is-medium">
      <ul>
        <li [class.is-active]="showComment">
          <a (click)="switchCommentAndReviews('comments')">Comments</a>
        </li>
        <li [class.is-active]="showReview">
          <a (click)="switchCommentAndReviews('reviews')">Reviews</a>
        </li>
      </ul>
    </div>

    <div *ngIf="showComment">
      <app-comments [isLoggedIn]="isLoggedIn" [gameId]="gameId" [username]="username" [game]="game" [role]="role"
                    [currentUser]="currentUser"></app-comments>
    </div>


    <div *ngIf="showReview">
      <app-reviews [isLoggedIn]="isLoggedIn" [gameId]="gameId" [username]="username" [game]="game" [role]="role"
                   [userHasReview]="userHasReview" [currentUser]="currentUser"
                   (userHasReviewChange)="userHasReview = $event"></app-reviews>
    </div>
    <div class="column is-one-fifth"></div>
  </div>
</div>
