<div class="card">
  <div class="card-content has-text-centered menu">
    <h1>Comments:</h1>
    <ul class="menu-list">
      <li *ngFor="let comment of comments">
        <div>
          <!-- display the comment content -->

          {{ comment.content }}
          <div class="row ">
            <span class="col">
              <a (click)="deleteComment(comment)">Delete</a>
            </span>
            <span class="col">
              <a (click)="showEditForm(comment)">Edit</a>
            </span>
          </div>
        </div>
        <br>
        <!-- edit form -->
        <div *ngIf="commentBeingEdited === comment">
          <form (submit)="submitEdit(comment)">
            <input type="text" [(ngModel)]="editContent" name="content" required>
            <button type="submit">Save</button>
            <button type="button" (click)="cancelEdit()">Cancel</button>
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>
