<script>
  document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Add a click event on each of them
    $navbarBurgers.forEach(el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });

  });
</script>


<nav>
  <div class="navbar">


    <div class="navbar-brand">

      <!-- logo -->
      <a class="navbar-item is-left" routerLink="/">
        <img class="logo level-left" [src]="'data:image/png;base64,'+logo" alt="logo">
      </a>


      <!-- darkmodeswitch-->
      <div class="navbar-item">
        <span>
          <div class="field">
          <input id="switchExample" (change)="toggleDarkMode()" type="checkbox" name="switchExample"
                 class="switch is-small">
          <label for="switchExample"><i class="fa-solid fa-moon"></i></label>
          </div>
        </span>

      </div>
    </div>

    <div class="navbar-menu">

      <div class="navbar-start">


        <!-- not logged in Login, Home, About Buttons -->

        <a *ngIf="!isLoggedIn" class="navbar-item" (click)="showRegisterModal()">
          <button><strong>Sign up</strong></button></a>


        <a *ngIf="!isLoggedIn" class="navbar-item" routerLink="/"><button>Home</button></a>

        <a *ngIf="!isLoggedIn" class="navbar-item" routerLink="/"><button>About</button></a>


        <!-- is logged in Buttons Home, About -->
        <a class="navbar-item" *ngIf="isLoggedIn" routerLink="/">
          <button>Home</button>
        </a>

        <a class="navbar-item" *ngIf="isLoggedIn" routerLink="/"><button>About</button></a>

      </div>

    </div>
    <div class="navbar-end">

      <!-- is not logged in Login Button -->
      <a class="navbar-item" *ngIf="!isLoggedIn" routerLink="/login">
        <button (click)="showLoginModal()">Login</button>
      </a>

      <!-- is logged in -->


      <div *ngIf="isLoggedIn" class="navbar-item has-dropdown is-hoverable">

        <!-- profilepicture -->
        <figure class="image navbar-item navbar-link">
          <img class="is-rounded" *ngIf="enduser && enduser.image !== ''"
               [src]="'data:image/png;base64,'+enduser.image"
               alt="Profile Picture">
          <img class="is-rounded" *ngIf="!enduser || enduser.image === ''"
               src="https://bulma.io/images/placeholders/128x128.png"
               alt="Profile Picture">
        </figure>

        <!-- dropdownmenu -->


        <div class="navbar-dropdown dropdown-margin-right">
          <div class="dropdown-item">
            <label>Change Avatar</label>
          </div>
          <div class="dropdown-item">
            <form enctype="multipart/form-data">
                <input class="field" type="file" id="imageFile" name="userImage" accept="image/*" (change)="onFileSelected($event)"
                       required>
              <!-- <button class="button is-small is-light" type="submit" [disabled]="!imageSelected"> Submit</button>-->
            </form>

          </div>

          <hr class="navbar-divider">

          <div class="is-transparent">
            <a class="dropdown-item is-flex is-justify-content-center">
              <button class="button is-danger is-small" (click)="logout()">Logout</button>
              <button class="button is-small" (click)="goToUserProfile()">Profil</button>
            </a>
          </div>

        </div>


        <!-- profilepicture end -->


        <span class="navbar-item">{{username}}</span>

      </div>
    </div>


  </div>
</nav>


