<div class="columns mt-4">
  <!-- left column -->
  <div class="column is-hidden-mobile">
    <div class="columns">
      <div class="column is-one-fifth"></div>
      <div class="column ">
        <!--Categories -->
        <aside class="menu">
          <ul class="menu-list">
            <li>


                <app-menu-bar [isAdmin]="isAdmin"
                  (goToProfilInfoClicked)="handleGoToProfilInfoClicked()"
                  (goToReviewsClicked)="handleGoToReviewsClicked()"
                  (getUserListClicked)="handleGetUserListClicked()"
                  (goToCommentsClicked)="handleGoToCommentsClicked()"
                ></app-menu-bar>


            </li>
          </ul>
        </aside>

      </div>
      <div class="column is-one-fifth"></div>
    </div>
  </div>

  <!-- middle column -->
  <div class="column is-three-fifths">
    <div class="is-vcentered columns">
      <div class="column is-vcentered">
        <app-profil-info *ngIf="isInProfil" [profile]="profile" [username]="profile.username" (goToCommentsClicked)="handleGoToCommentsClicked()"
                         (goToReviewsClicked)="handleGoToReviewsClicked()">
        </app-profil-info>
        <app-user-comments *ngIf="isInComments" (commentChange)="updateComment()" [comments]="profile.comments" [username]="profile.username" [games]="games"></app-user-comments>
        <app-user-review *ngIf="isInReview" [reviews]="profile.reviews" [username]="profile.username" [games]="games"></app-user-review>
        <app-user-list *ngIf="isInUserList" [username]="profile.username"></app-user-list>
      </div>
    </div>
  </div>

  <!-- right column -->
  <div class="column is-one-fifth ">


  </div>




</div>
