<div class="columns">
  <div class="column is-one-quarter">
    <app-menu-bar
      (goToProfilInfoClicked)="handleGoToProfilInfoClicked()"
      (goToReviewsClicked)="handleGoToReviewsClicked()"
      (getUserListClicked)="handleGetUserListClicked()"
      (goToCommentsClicked)="handleGoToCommentsClicked()"
    ></app-menu-bar>

  </div>

  <div class="column is-centered is-two-thirds">
    <div class="is-vcentered columns">
      <div class="column is-vcentered">

        <app-profil-info *ngIf="isInProfil" [profile]="profile"></app-profil-info>
        <app-user-comments *ngIf="isInComments" [comments]="profile.comments" ></app-user-comments>
        <app-user-review *ngIf="isInReview" [profile]="profile"></app-user-review>
        <app-user-list *ngIf="isInUserList" [username]="username"></app-user-list>

      </div>
      </div>


  </div>

<!--
  <div class="column">
    <div *ngIf="isAdmin">
      <button  (click)="getUserList()">User list</button>
    </div>
  </div>
-->



</div>



