<footer class="footer container2 p-2 mt-2" style="margin-top: auto">
  <div class="content has-text-centered">
    <p>
      <strong> Text Adventures </strong> by CODEFORGE ⚒️
    </p>
    <nav class="tabs">
      <div class="container2" >
        <a><i class="fab fa-apple"></i></a>
        <a><i class="fab fa-github"></i></a>
        <a><i class="fab fa-facebook"></i></a>
        <a><i class="fab fa-instagram"></i></a>
        <a><i class="fab fa-twitter"></i></a>
      </div>
    </nav>
  </div>
</footer>
