<div class="card columns is-centered">
  <div class="has-text-centered">
    <h1 class="card-content has-text-centered">User List</h1>
    <div class="column is-two-thirds">
      <table class="table is-hoverable ">
        <thead>
        <th ></th>
        <th > <a (click)="sortUsersByName()">Username</a></th>
        <th ><a (click)="sortUsers()">Role</a></th>
        <th>Upgrade/downgrade</th>
        <th>Bann</th>
        </thead>
        <tbody *ngFor="let user of users; let i=index">
        <tr *ngIf="showFullTable || i<5" class="is-vcentered"> <!-- Add is-vcentered class to center the text vertically -->
          <td>
            <figure class="media-left">
              <p class="image is-64x64 is-rounded">
                <img class="is-rounded" *ngIf="user.image"
                     [src]="'data:image/png;base64,' + user.image" alt="Profile Picture">
                <img class="is-rounded" *ngIf="!user.image"
                     src="https://bulma.io/images/placeholders/128x128.png" alt="Profile Picture">
              </p>
            </figure>
          </td>
          <td class="is-vcentered">{{user.username}}</td>
          <td class="is-vcentered">{{user.role}}</td>
          <td class="is-vcentered">
            <button class="button is-rounded"
                    [ngClass]="{'is-info': user.role === 'USER', 'is-danger': user.role === 'ADMIN'}"
                    (click)="user.role === 'ADMIN' ? downgrade(user.username) : upgrade(user.username)"
                    [disabled]="user.username === username">
              {{ user.role === 'ADMIN' ? 'Downgrade' : 'Upgrade' }}
            </button>
          </td>
          <td class="is-vcentered">
            <button class="button is-rounded">🔨</button>
          </td>

        </tr>
        </tbody>
      </table>

    </div>
    <div class="buttons is-centered"> <!-- Add a button to toggle the full table display -->
      <button class="button is-info is-rounded" (click)="toggleTableDisplay()" *ngIf="!showFullTable">Show more</button>
      <button class="button is-danger is-rounded" (click)="toggleTableDisplay()" *ngIf="showFullTable">Show less</button>
    </div>
    <br>
  </div>
</div>
